@model Pizzas

<div class="container">
    <div class="card">
        <img class="w-48" src="@Model.Image" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <h6>$ @Model.Price</h6>
            <p>
                @if (Model.CategoryId != null)
                {
                    <strong>Categories:</strong>
                    <span>@Model.Category.Name</span>
                }
                else
                {
                    <span>No categories selected</span>
                }
            </p>
        </div>
    </div>
</div>
